$orange:#fbda89;
$dorange: #f48a82;
$grad-orange: $orange, $dorange;
$gray: #f9f5f3;
$lgray: #f2efee;
$dgray: #eeecea;
$lbrown: #968b87;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease;
    &_inline {
        display: inline-flex;
    }
    &_text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &_sm {
        max-width: 150px;
    }
    &_xs {
        max-width: 100px;
    }
    &_heart {
        background: none;
        & .icon {
            fill: $dorange;
            font-size: 38px;
        }
    }
    &_search {
        padding: 10px 15px;
        font-size: 14px;
        color: #fff;
        border-radius: 30px;
        & .icon {
            margin-right: 10px;
            fill: #fff;
            font-size: 22px;
        }
    }
    &_pagination {
        padding: 5px 10px;
        color: $dorange;
        font-size: 12px;
        border-radius: 15px;
        & .icon {
            fill: $dorange;
            font-size: 18px;
        }
        &:hover {
            background: $lgray;
        }
    }
    &_switch {
        background: none;
        & .icon {
            fill: $dorange;
            transition: all 0.3s;
            font-size: 16px;
            &:hover {
                fill: $orange;
            }
        }
    }
    &_heart_outlined {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all 0.2s;
        & .icon {
            font-size: 25px;
            fill: #fff;
        }
    }
    &_shopping {
        margin: 0 auto;
        padding: 10px 15px;
        color: #fff;
        border-radius: 20px;
        & .icon {
            font-size: 16px;
            fill: #fff;
            margin-right: 10px;
        }
    }
    &_directions {
        margin: auto;
        padding: 10px 15px;
        border-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        & .icon {
            font-size: 16px;
            fill: #fff;
            margin-left: 10px;
        }
    }
    &_cross {
        background: none;
        opacity: 0;
        transition: all 0.3s;
        & .icon {
            font-size: 18px;
            fill: $dorange;
        }
        &:hover {
            opacity: 1;
        }
    }
}

.ellipsis_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grad-orange {
    background-image: linear-gradient(to right bottom, $grad-orange);
}

.bg-gray {
    background: $gray;
}

.scaled {
    transition: all 0.2s;
    &:hover {
        transform: scale(1.1);
    }
}

// .skewed {
//     transform: skew(-6deg);
// }


// .btn, .btn-small, .btn-small:link, .btn-small:visited {
//     background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
//     border-radius: 10rem;
//     border: none;
//     text-transform: uppercase;
//     color: #fff;
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     transition: all .2s; }
//     .btn:hover, .btn-small:hover {
//       transform: scale(1.05); }
//     .btn:focus, .btn-small:focus {
//       outline: none; }
//     .btn > *:first-child, .btn-small > *:first-child {
//       margin-right: 1rem; }

//   .btn {
//     padding: 1.3rem 3rem;
//     font-size: 1.4rem; }
//     .btn svg {
//       height: 2.25rem;
//       width: 2.25rem;
//       fill: currentColor; }

//   .btn-small, .btn-small:link, .btn-small:visited {
//     font-size: 1.3rem;
//     padding: 1rem 1.75rem;
//     text-decoration: none; }
//     .btn-small svg, .btn-small:link svg, .btn-small:visited svg {
//       height: 1.5rem;
//       width: 1.5rem;
//       fill: currentColor; }

