$orange:#fbda89;
$dorange: #f48a82;
$grad-orange: $orange, $dorange;
$gray: #f9f5f3;
$lgray: #f2efee;
$dgray: #eeecea;
$lbrown: #968b87;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease;
    &_inline {
        display: inline-flex;
    }
    &_text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &_sm {
        max-width: 150px;
    }
    &_xs {
        max-width: 100px;
    }
    &_heart {
        background: none;
        & .icon {
            vertical-align: middle;
            fill: $dorange;
            font-size: 38px;
        }
    }
    &_search {
        padding: 10px 15px;
        font-size: 14px;
        color: #fff;
        border-radius: 30px;
        & .icon {
            flex: 0 0 auto;
            margin-right: 10px;
            fill: #fff;
            font-size: 22px;
        }
    }
    &_shop {
        padding: 10px;
        border-radius: 20px;
        color: #fff;
    }
    &_remove {
        padding: 5px 10px;
        border-radius: 30px;
        color: #fff;
        transition: all 0.3s;
    }
    &_pagination {
        padding: 5px 10px;
        color: $dorange;
        font-size: 12px;
        border-radius: 15px;
        & .icon {
            fill: $dorange;
            font-size: 18px;
        }
        &:hover {
            background: $lgray;
        }
    }
    &_adjust {
        background: none;
        & .icon {
            fill: $dorange;
            transition: all 0.3s;
            font-size: 16px;
            &:hover {
                fill: $orange;
            }
        }
    }
    &_like {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all 0.2s;
        & .icon {
            font-size: 25px;
            fill: #fff;
        }
    }
    &_shopping {
        margin: 0 auto;
        padding: 10px 15px;
        color: #fff;
        border-radius: 20px;
        & .icon {
            font-size: 16px;
            fill: #fff;
            margin-right: 10px;
        }
    }
    &_directions {
        margin: auto;
        padding: 10px 15px;
        border-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        & .icon {
            font-size: 16px;
            fill: #fff;
            margin-left: 10px;
        }
    }
    &_cross {
        background: none;
        opacity: 0;
        transition: all 0.3s;
        & .icon {
            font-size: 18px;
            fill: $dorange;
        }
        &:hover {
            opacity: 1;
        }
    }
}

.ellipsis_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grad-orange {
    background-image: linear-gradient(to right bottom, $grad-orange);
}

.bg-gray {
    background: $gray;
}

.scaled {
    transition: all 0.2s;
    &:hover {
        transform: scale(1.1);
    }
}

.loader {
    text-align: center;
    & .icon {
        width: 20%;
        height: auto;
        fill: $orange;
        animation: spin360 linear 1s infinite;
    }
}

@keyframes spin360 {
    100% {
        transform: rotate(360deg);
    }
}
