.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
    padding: 1px 0;
    color: #fff;
}

.forkify_wrapper {
    width: 1200px;
    margin: 28px auto 50px;
    position: relative;
    & > .loader {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.forkify {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    border-radius: 60px;
    box-shadow: 0 2rem 3rem 0.5rem rgba(125, 125, 125, 0.5);
    &_header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px;
        &_logo {
            width: 150px;
        }
        &_title {
            margin-bottom: 15px;
        }
        &_textual {
            flex-basis: 100%;
            text-align: center;
            color: $dorange;
            font-style: italic;
        }
        &_message {
            min-height: 22px;
            margin-top: 15px;
        }
    }
    &_main {
        display: flex;
        flex: 1;
    }
    &_aside {
        flex-basis: 25%;
        background: #fff;
    }
    &_link {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        transition: all 0.3s ease;
        &:hover {
            background: $gray;
            transform: translateY(-2px);
        }
        &-active {
            background: $gray;
        }
    }
    &_fig {
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_name {
        color: $dorange;
    }
    &_author {
        font-weight: 700;
        color: $lbrown;
        font-size: 12px;
    }
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;
    padding-left: 20px;
    border-radius: 30px;
    background: #fff;
    &_input_wrap {
        flex-basis: 70%;
    }
    &_input {
        width: 100%;
        font-size: 16px;
        font-family: inherit;
        &::placeholder {
            opacity: 0.3;
            font-weight: 700;
            font-style: italic;
        }
    }
}

.likes {
    padding: 5px;
    &_list {
        width: 300px;
        display: none;
        position: absolute;
        top: 100px;
        right: 40px;
        background: #fff;
        transition: all 0.3s;
        z-index: 10;
    }
    &:hover &_list {
        display: block;
    }
    &_item {
        flex-basis: 100%;
    }
}

.results {
    display: flex;
    flex-flow: column nowrap;
    &_list {
        flex: 1;
    }
    &_pages {
        position: relative;
        margin: 30px 0 60px;
        padding: 0 20px;
        &:after {
            @include clr;
        }
        &_amout {
            display: inline-block;
            position: absolute;
            padding: 5px 10px;
            top: 40px;
            left: 50%;
            color: $dorange;
            transform: translateX(-50%);
            border-radius: 15px
        }
        &_separator {
            margin: 5px 0;
            font-weight: 700;
        }
    }
    &_btn-prev {
        float: left;
        flex-direction: row-reverse;
    }
    &_btn-next {
        float: right;
    }
}

.recipe {
    flex-basis: 50%;
    &_view {
        position: relative;
        height: 315px;
        transform: scale(1.05);
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(to right bottom, $grad-orange);
            opacity: 0.6;
        }
    }
    &_title {
        width: 60%;
        position: absolute;
        bottom: 0;
        left: 50%;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.9;
        font-weight: 700;
        color: #fff;
        transform: translate(-50%, 20%) skewY(-6deg);
        & span {
            -webkit-box-decoration-break: clone;
            padding: 20px;
        }
    }
    &_details {
        display: flex;
        padding: 80px 20px 10px;
        & .btn_like {
            margin-left: auto;
        }
    }
    &_info {
        display: inline-flex;
        align-items: center;
        margin-right: 30px;
        color: #000;
        text-transform: uppercase;
        &_data {
            font-weight: 700;
        }
        & .icon {
            fill: $dorange;
        }
    }
    &_time {
        &_minutes {
            margin: 0 5px 0 10px;
        }
    }
    &_serving {
        &_count {
            margin: 0 7px;
        }
        &_buttons {
            display: flex;
            margin-left: 15px;
            & button:first-child {
                margin-right: 5px;
            }
        }
    }
    &_ingredients {
        padding: 15px;
        background: $dgray;
        &_list {
            margin-bottom: 20px;
        }
        &_item {
            display: inline-flex;
            width: 48%;
            margin: 7px 0;
            color: #000;
            &:nth-child(odd) {
                margin-right: 15px;
            }
            & .icon {
                flex: 0 0 auto;
                font-size: 20px;
                fill: $dorange;
                margin-right: 10px;
                border: 1px solid $dorange;
                border-radius: 50%;
            }
        }
    }
    &_directions {
        padding: 30px;
        text-align: center;
        color: #000;
        &_title {
            transform: skewY(-6deg);
            color: $dorange;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        &_text {
            margin-bottom: 30px;
        }
    }
    &_author {
        font-weight: 700;
    }
}

.shopping {
    display: flex;
    flex-flow: column;
    padding: 30px;
    &_title {
        margin-bottom: 20px;
        text-align: center;
        transform: skewY(-6deg);
        text-transform: uppercase;
        color: $dorange;
    }
    &_list {
        flex: 1;
    }
    &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        color: #000;
        font-size: 14px;
        border-bottom: 1px solid $lgray;
    }
    &_footer {
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}

.ingredient_data {
    display: flex;
    min-width: 110px;
    flex: 0 0 40%;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    margin-right: 10px;
    border: 1px solid $lgray;
    &_amount {
        max-width: 50px;
        padding-left: 5px;
        margin: 5px;
        border: 1px solid $lgray;
        text-align: center;
        &::placeholder {
            text-align: center;
        }
    }
    &_unit {
        max-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
