.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star_empty {
  width: 1em;
  height: 1em;
  fill: #787878;
}
.icon-waves-yellow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-waves {
  width: 5.17em;
  height: 1em;
  fill: initial;
}
.icon-X {
  width: 1em;
  height: 1em;
  fill: initial;
}
