.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-circle-minus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-circle-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cw {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart-outlined {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-man {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shopping-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-squared-cross {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star_empty {
  width: 1em;
  height: 1em;
  fill: #787878;
}
.icon-stopwatch {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-triangle-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-triangle-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-waves-yellow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-waves {
  width: 5.17em;
  height: 1em;
  fill: initial;
}
.icon-X {
  width: 1em;
  height: 1em;
  fill: initial;
}
